<footer class="footer">
    <div class="left_footer">
        <h3>Get in touch with us</h3>
        <p>Contact Number: #63 908-888-0011<br>
            Email: customerservice.mvx@gmail.com
        </p>
    </div>
    <div class="mid_footer">
        <p style="width: 275px;">MVX Solutions Inc. &copy; <%= new Date().getFullYear(); %>. All rights reserved.</p>
    </div>
    <div class="right_footer">
        <table>
            <tr>
                <td><a href="#">About Us</a></td>
            </tr>
            <tr>
                <td><a href="#">Frequently Asked Questions</a></td>
            </tr>
            <tr>
                <td><a href="#">Privacy Policy</a></td>
            </tr>
            <tr>
                <td><a href="#">Terms and Condition</a></td>
            </tr>
          </table>
    </div>
</footer>