<!--Video 2, 10:40-->
<header class = "header">
    <a href="/" class="header_logo">MVX</a>

    <nav class = "header_nav">
        <ul>
            <!--Everything below are parts of the header-->
            <li>
                <a href="/home" class="">Home</a>
            </li>
            <li>
                <a href="/aboutUs" class="">About</a>
            </li>
            <li>
                <a href="/profile" class="">Profile</a>
            </li>
        </ul>
    </nav>

    <!--Dedicated section to the Search button-->
    <div class = "header_button">
        <button class="searchBtn" aria-expanded="false">
            Search
    </div>

</header>