<!--searchbar vid 4, 0:30-->
<div class="searchBar">
    <div class="container">
        <form action="/search" class="search_form" role="search" method="POST">

            <input
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search the site..."/>

        </form>
        <!--Add a close btn to searchbar 3:35 vid 4-->
        <div id="searchClose">Close</div>
    </div>
</div>