/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c9c9; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
}

body {
    padding: 0;
    margin: 0;
}

/* header part */
.header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 80px;
    font-family: 'Montserrat', sans-serif;;
    background-color: #5B5247;
    color: white;
    
}

.header_title {
    margin: 0;
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.header span {
    font-weight: 700;
    font-size: 30px;
}

.header_search {
    display: flex;
    align-items: center;
}

.header_search input {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none; 
    outline: none; 
}

.header_search input[type="text"]::placeholder {
    font-size: 12px; 
}

.header_search button {
    font-size: 18px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.header_navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.header_navigation a{
    text-decoration: none;
    margin-left: 30px;
    color: inherit;
}

/* container part */

.container{
    background-color: #ffffff;
    margin-left: 0px;
    margin-right: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#title {
    margin-left: 15%;
    font-size: 46px;
}

hr {
    width: 70%;
}

.container p, 
.container h1, .container h2, 
.container h3, .container h4, 
.container h5, .container h6,
.container ul, .container ol {
    font-family: 'Tahoma';
    text-align: justify;
    line-height: 1.25em;
}

.filters {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-self: center;
    padding-bottom: 15px;
}

.filterActual {
    margin-left: auto;
}

.filter {
    border-radius: 25px;
    background-color: #d9d9d9;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    margin-left: auto;

    cursor: pointer;
}

.filter:hover {
    background-color: #c9c9c9;
}

.filter:click {
    background-color: #c4a88c;
}

.filter p {
    margin-left: 0%;
}

#items { 
    overflow-x: scroll;
    width: 70%;
    white-space: nowrap;
    display: block;
    margin: auto;
}

.item {
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
}

.item p{
    margin-left: 0px;
    font-family: 'Tahoma';
    font-size: 13.5px;
} 

.item h2 {
    margin-left: 0px;
    font-family: 'Tahoma';
    line-height: 0px;
}

.updates {
    overflow-x: scroll;
    width: 70%;
    align-self: center;
    white-space: nowrap;
    justify-content: space-between;
}

.update {
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    min-height: 250px;

}

.updateTop {
    display: flex;
    margin-right: 100%;
    max-height: 100px;
}

.updateTop h2 {
    margin-left: 15px;
    font-size: 18px;
}

.updateActual {
    overflow-wrap: normal;
    white-space: normal;
}

.update img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.updateActual p {
    white-space: normal;
}

img {
    width: 220px;
    display: flex;
    margin: auto;
}

div.Back-To-Top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    font-family: 'Tahoma';
}

button.BTT{
    border: none;
    background-color: white;
    cursor: pointer;
}

/* footer part */
.footer {
    background-color: #545454;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    padding: 30px 80px;
    font-size: 9.5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.left_footer {
    text-align: left;
    margin-right: auto;
}

.mid_footer {
    align-items: end;
    display: flex;
}

.right_footer {
    text-align: right;
    margin-left: auto;
}

.right_footer a {
    text-decoration: none; 
    color: white; 
}

button {
    margin-top: 7px;
    border: none;
}