<link rel="stylesheet" href="/css/about us.css">

<header class="header">
    <h2 class="header_title"><span>MVX</span></h2>
    <div class="header_search">
        <input type="text" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <nav id="header_navigation" class="header_navigation">
        <i class="fa fa-bell"></i>
        <a href="/home" class="">Home</a>
        <a href="/profile" class="">Profile</a>
    </nav>   
</header>

<div class="container">
    <h1 style="font-size: 46px">About Us</h1>
    <hr>
    <div id="imageShowcase">
        <div id = "devShowcase">
            <img src= "img/fulcher.jpg" alt= "Lander Fulcher">
            <h2>Lander Fulcher</h2>
        </div>
        <div id = "devShowcase">
            <img src= "img/sang.jpg" alt= "Nathan Sang">
            <h2>Nathan Sang</h2>
        </div>
        <div id = "devShowcase">
            <img src= "img/villamiel.jpg" alt= "Leeroi Villamiel">
            <h2>Leeroi Villamiel</h2>
        </div>
    </div>
    <hr>
    <h2>Who are we?</h2>
    <p>Who else would we be but the humble developers of MVX! We are 2nd Year ID 121 Computer Science students at De La Salle University on a mission to connect music better to the listeners around the world.
    </p>
    <hr>
    <h2>What is MVX all about?</h2>
    <p>Welcome to MVX, the ultimate destination for music enthusiasts! At MVX, we believe that music has the power to transcend boundaries and connect people across the globe. Our platform is designed to be your go-to hub for discovering, sharing, and celebrating your favorite songs, albums, artists, record labels, and playlists.

        <br>At MVX, we strive to create a vibrant community of music lovers who are passionate about exploring diverse genres, discovering hidden gems, and connecting with like-minded individuals. Whether you're an avid collector, a casual listener, or a budding musician, MVX offers a unique space to curate your own musical journey.
        
        <br>With our intuitive interface, personalized recommendations, and interactive features, you can easily create playlists, rate songs, leave reviews, and engage in meaningful discussions with fellow music aficionados. Unleash your creativity by sharing your favorite tracks, albums, and artists, and let MVX be the soundtrack to your musical adventures. Join us today and immerse yourself in the world of MVX, where music knows no boundaries.
    </p>
</div>