<header class="header">
    <h2 class="header_title"><span>MVX</span></h2>
    <div class="header_search">
        <input type="text" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <nav id="header_navigation" class="header_navigation">
        <i class="fa fa-bell"></i>
        <a href="#">Home</a>
        <a href="#">Profile</a>
    </nav>   
</header>

<div class="container">
    <h1 id="title">Home</h1>
    <hr>
    <div class = "filters">
        <h2 class="filterTitle">New Releases</h2>
        <div class = "filterActual">
            <button class= "filter">
                <p>Following</p>
            <button class= "filter">
                <p>Philippines</p>
            <button class= "filter">
                <p>World</p>
        </div>
    </div>

    <div id="items">
        <div class="item">
            <img src = "public/img/rising sun tvxq.jpg">
            <h2>Rising Sun</h2>
            <p>TVXQ! (동방신기)</p>
        </div>

        <div class="item">
            <img src = "public/img/shalala taeyong.jpg">
            <h2>Shalala</h2>
            <p>TAEYONG</p>
        </div>

        <div class="item">
            <img src = "public/img/unforgiven le sserafim.png">
            <h2>Unforgiven</h2>
            <p>LE SSERAFIM (르세라핌)</p>
        </div>

        <div class="item">
            <img src = "public/img/tri-angle tvxq.jpg">
            <h2>TRI-ANGLE</h2>
            <p>TVXQ! (동방신기)</p>
        </div>

        <div class="item">
            <img src = "public/img/dark blood enhypen.jpg">
            <h2>DARK BLOOD</h2>
            <p>ENHYPEN</p>
        </div>
        
        <div class="item">
            <img src = "public/img/masterpiece misamo.jpeg">
            <h2>Masterpiece</h2>
            <p>TWICE-MISAMO</p>
        </div>

        <div class="item">
            <img src = "public/img/MiroticTVXQ.png">
            <h2>MIROTIC</h2>
            <p>TVXQ! (동방신기)</p>
        </div>
    </div>

    <br>










    
    <div class = "filters">
        <h2 class="filterTitle">Updates</h2>
        <div class = "filterActual">
            <button class= "filter">
                <p>Artists</p>
            <button class= "filter">
                <p>Users</p>
        </div>
    </div>

    <div class="updates">
        <div class="update">
            <div class = "updateTop">
                <img src = "public/img/eminem.jpg">
                <h2>Eminem</h2>
            </div>
            <div class = "updateActual">
                <p>'Sup guys, been a while, gonna release a new EP in a few, keep an eye out. With a collaboration with old friends, this one's for all the ones who were there for me since the beginning.</p>
            </div>
            
        </div>

        <div class="update">
            <div class = "updateTop">
                <img src = "public/img/a7x.jpg">
                <h2>Avenged Sevenfold</h2>
            </div>
            <div class = "updateActual">
                <p>We've added an additional show to our world tour! For the first time in 10 years, we'll be going back to Southeast Asia! To our Indonesian, Singaporean, and Filipino fans, keep a look out for our concert dates!</p>
            </div>
        </div>

        <div class="update">
            <div class = "updateTop">
                <img src = "public/img/pink guy.png">
                <h2>Pink Guy</h2>
            </div>
            <div class = "updateActual">
                <p>GUESS WHO'S BACK HAHAHAHAHAHAHAHAHAHAHAHA HAHAHAHAHAHAHAHAHAHAHAHA *breathes in* HAHAHAHAHAHAHAHHAHAHAHAH HAHAHAHAHAHAHAHAHAHAHAHA</p>
            </div>
        </div>

        <div class="update">
            <div class = "updateTop">
                <img src = "public/img/kanye.jpg">
                <h2>Kanye West</h2>
            </div>
            <div class = "updateActual">
                <p>Kanye. That's the update.</p>
            </div>
        </div>

        <div class="update">
            <div class = "updateTop">
                <img src = "public/img/linkin park.jpg">
                <h2>Linkin Park</h2>
            </div>
            <div class = "updateActual">
                <p>07/28/2023. We will be releasing never-before-seen and never-before-heard music from the days of Meteora and Hybrid Theory. Just to relive the good times.  - Mike</p>
            </div>
        </div>
        
        <div class="update">
            <div class = "updateTop">
                <img src = "public/img/rick astley.jpg">
                <h2>Rick Astley</h2>
            </div>
            <div class = "updateActual">
                <p>Keep up the memes and streaming of "Never Gonna Give You Up", fellas! We got to 1 billion YouTube views, who's to say we can't get more than that!? :)</p>
            </div>
        </div>
    </div>











    <br>

    <div class = "filters">
        <h2>Personalized Recommendations</h2>
        <div class = "filterActual">
            <button class= "filter">
                <p>Upbeat</p>
            <button class= "filter">
                <p>Danceable</p>
            <button class= "filter">
                <p>"soty"</p>
        </div>
    </div>

    <div id="items">
        <div class="item">
            <img src = "public/img/rising sun tvxq.jpg"></img>
            <h2>Rising Sun</h2>
            <p>TVXQ! (동방신기)</p>
        </div>

        <div class="item">
            <img src = "public/img/shalala taeyong.jpg"></img>
            <h2>Shalala</h2>
            <p>TAEYONG</p>
        </div>

        <div class="item">
            <img src = "public/img/unforgiven le sserafim.png"></img>
            <h2>Unforgiven</h2>
            <p>LE SSERAFIM (르세라핌)</p>
        </div>

        <div class="item">
            <img src = "public/img/tri-angle tvxq.jpg"></img>
            <h2>TRI-ANGLE</h2>
            <p>TVXQ! (동방신기)</p>
        </div>

        <div class="item">
            <img src = "public/img/dark blood enhypen.jpg"></img>
            <h2>DARK BLOOD</h2>
            <p>ENHYPEN</p>
        </div>
        
        <div class="item">
            <img src = "public/img/masterpiece misamo.jpeg"></img>
            <h2>Masterpiece</h2>
            <p>TWICE-MISAMO</p>
        </div>

        <div class="item">
            <img src = "public/img/MiroticTVXQ.png"></img>
            <h2>MIROTIC</h2>
            <p>TVXQ! (동방신기)</p>
        </div>
    </div>

    <br>

    <div class = "filters">
        <h2>Trending</h2>
        <div class = "filterActual">
            <button class= "filter">
                <p>City</p>
            <button class= "filter">
                <p>Country</p>
            <button class= "filter">
                <p>World</p>
        </div>
    </div>

    <div id="items">
        <div class="item">
            <img src = "public/img/rising sun tvxq.jpg"></img>
            <h2>Rising Sun</h2>
            <p>TVXQ! (동방신기)</p>
        </div>

        <div class="item">
            <img src = "public/img/shalala taeyong.jpg"></img>
            <h2>Shalala</h2>
            <p>TAEYONG</p>
        </div>

        <div class="item">
            <img src = "public/img/unforgiven le sserafim.png"></img>
            <h2>Unforgiven</h2>
            <p>LE SSERAFIM (르세라핌)</p>
        </div>

        <div class="item">
            <img src = "public/img/tri-angle tvxq.jpg"></img>
            <h2>TRI-ANGLE</h2>
            <p>TVXQ! (동방신기)</p>
        </div>

        <div class="item">
            <img src = "public/img/dark blood enhypen.jpg"></img>
            <h2>DARK BLOOD</h2>
            <p>ENHYPEN</p>
        </div>
        
        <div class="item">
            <img src = "public/img/masterpiece misamo.jpeg"></img>
            <h2>Masterpiece</h2>
            <p>TWICE-MISAMO</p>
        </div>

        <div class="item">
            <img src = "public/img/MiroticTVXQ.png"></img>
            <h2>MIROTIC</h2>
            <p>TVXQ! (동방신기)</p>
        </div>
    </div>

    <br>

</div>

<div class="Back-To-Top">
    <a href = "#title"><button class="BTT"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
    </button></a>
    <p>Back to Top</p>
</div>