<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Profile Settings</title>
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>

    <header class="header">
        <h2 class="header_title"><span>MVX</span></h2>
        <div class="header_search">
            <input type="text" placeholder="Search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <nav id="header_navigation" class="header_navigation">
            <i class="fa fa-bell"></i>
            <a href="/home" class="">Home</a>
            <a href="/profile" class="">Profile</a>
        </nav>
    </header>

    <div class="container">

        <div class="main">
            <div class="main_header">
                <span>Profile Settings</span>
                <hr>
            </div>

            <div class="profile-options">
                <div class="options-left">
                    <div class="profile-pic"></div>
                    <div class="username">@Username</div>
                </div>
                <div class="options-right">
                    <br>
                    <br>
                    <a href="#">Update Public Information</a>
                    <a href="#">Change Password</a>
                    <a href="#">Connect Account to Streaming Platforms</a>
                    <a href="#">Manage Privacy Settings</a>
                    <a href="#">Manage Blocked Users</a>
                    <a href="#">Manage Notification Settings</a>
                    <a href="#">Delete Account</a>
                    <br>
                    <br>
                </div>
            </div>
     
        </div>
    </div>
</body>

</html>
