<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href ="./css/search.css">
        <title>Search - MVX</title>
            
    </head>
    <body>
        <header class="header">
            <h2 class="header_title"><span>MVX</span></h2>
            <div class="header_search">
                <input type="text" placeholder="Search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <nav id="header_navigation" class="header_navigation">
                <i class="fa fa-bell"></i>
                <a href="#">Home</a>
                <a href="#">Profile</a>
            </nav>   
        </header>



        <div class="container">
            <h1 id="title"> "TVXQ!" </h1>
            <hr>
                <div class = "filters">
                    <h2 class="filterTitle">Top Results</h2>
                    <div>
                        <button class= "filter">
                            <p>Song</p>
                        <button class= "filter">
                            <p>Artist</p>
                        <button class= "filter">
                            <p>Album</p>
                        <button class= "filter">
                            <p>Publisher</p>
                        <button class= "filter">
                            <p>User</p>
                    </div>
                </div>

                <div id="items">
                    <div class="item">
                        <img src = "public/img/rising sun tvxq.jpg">
                        <h2>Rising Sun</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/shalala taeyong.jpg">
                        <h2>Shalala</h2>
                        <p>TAEYONG</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/unforgiven le sserafim.png">
                        <h2>Unforgiven</h2>
                        <p>LE SSERAFIM (르세라핌)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/tri-angle tvxq.jpg">
                        <h2>TRI-ANGLE</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/dark blood enhypen.jpg">
                        <h2>DARK BLOOD</h2>
                        <p>ENHYPEN</p>
                    </div>

                    <div class="item">
                        <img src = "public/img/rising sun tvxq.jpg">
                        <h2>Rising Sun</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/shalala taeyong.jpg">
                        <h2>Shalala</h2>
                        <p>TAEYONG</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/unforgiven le sserafim.png">
                        <h2>Unforgiven</h2>
                        <p>LE SSERAFIM (르세라핌)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/tri-angle tvxq.jpg">
                        <h2>TRI-ANGLE</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/dark blood enhypen.jpg">
                        <h2>DARK BLOOD</h2>
                        <p>ENHYPEN</p>
                    </div>

                    <div class="item">
                        <img src = "public/img/rising sun tvxq.jpg">
                        <h2>Rising Sun</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/shalala taeyong.jpg">
                        <h2>Shalala</h2>
                        <p>TAEYONG</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/unforgiven le sserafim.png">
                        <h2>Unforgiven</h2>
                        <p>LE SSERAFIM (르세라핌)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/tri-angle tvxq.jpg">
                        <h2>TRI-ANGLE</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/dark blood enhypen.jpg">
                        <h2>DARK BLOOD</h2>
                        <p>ENHYPEN</p>
                    </div>

                    <div class="item">
                        <img src = "public/img/rising sun tvxq.jpg">
                        <h2>Rising Sun</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/shalala taeyong.jpg">
                        <h2>Shalala</h2>
                        <p>TAEYONG</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/unforgiven le sserafim.png">
                        <h2>Unforgiven</h2>
                        <p>LE SSERAFIM (르세라핌)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/tri-angle tvxq.jpg">
                        <h2>TRI-ANGLE</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/dark blood enhypen.jpg">
                        <h2>DARK BLOOD</h2>
                        <p>ENHYPEN</p>
                    </div>

                    <div class="item">
                        <img src = "public/img/rising sun tvxq.jpg">
                        <h2>Rising Sun</h2>
                        <p>TVXQ! (동방신기)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/shalala taeyong.jpg">
                        <h2>Shalala</h2>
                        <p>TAEYONG</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/unforgiven le sserafim.png">
                        <h2>Unforgiven</h2>
                        <p>LE SSERAFIM (르세라핌)</p>
                    </div>
        
                    <div class="item">
                        <img src = "public/img/dark blood enhypen.jpg">
                        <h2>DARK BLOOD</h2>
                        <p>ENHYPEN</p>
                    </div>
                </div>

        </div>

        <div class="Back-To-Top">
            <a href = "#title"><button class="BTT"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
            </button></a>
            <p>Back to Top</p>
        </div>
    </body>
</html>