<header class="header">
    <h2 class="header_title"><span>MVX</span></h2>
    <div class="header_search">
        <input type="text" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <nav id="header_navigation" class="header_navigation">
        <i class="fa fa-bell"></i>
        <a href="#">Home</a>
        <a href="#">Profile</a>
    </nav>   
</header>

<div class="container">
    <h1 style="font-size: 46px">Terms and Conditions</h1>
    <hr>
        <p>These Terms and Conditions ("Agreement") govern your use of the MVX website ("Website") and its associated services ("Services"). By accessing or using the Website and Services, you agree to be bound by this Agreement. If you do not agree to these terms, please refrain from accessing or using the Website and Services.</p>

        <p><strong>1. User Responsilities</strong></p>
        <ul>
            <li>You must be at least 13 years old to use the Website and Services.</li>
            <li>You are solely responsible for the content you share, post, or upload on the Website.</li>
            <li>You agree not to violate any laws, infringe on any intellectual property rights, or engage in any unlawful or harmful activities while using the Website and Services.</li>
            <li>You understand that MVX is not responsible for any user-generated content and may not endorse or verify the accuracy of such content.</li>
        </ul>

        <p><strong>2. Intellectual Property</strong></p>
        <ul>
            <li>All intellectual property rights, including but not limited to copyrights and trademarks, in the Website and Services are owned by MVX or its licensors.</li>
            <li>You may not reproduce, modify, distribute, or create derivative works based on any part of the Website or Services without prior written consent from MVX.</li>
        </ul>

        <p><strong>3. Termination and Supension</strong></p>
        <ul>
            <li>MVX may terminate or suspend your access to the Website and Services without prior notice if you violate this Agreement.</li>
            <li>Upon termination, all rights granted to you under this Agreement will cease, and you must immediately cease all use of the Website and Services.</li>
        </ul>

        <p><strong>4. Limitation of Liability</strong></p>
        <ul>
            <li>MVX and its affiliates shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of the Website and Services.</li>
            <li>MVX does not guarantee the accuracy, completeness, or availability of the content on the Website.</li>
        </ul>

        <p><strong>5. Governing Law</strong></p>
        <ul>
            <li>This Agreement shall be governed by and construed in accordance with the laws of the Republic of the Philippines.</li>
            <li>Any disputes arising out of this Agreement shall be subject to the exclusive jurisdiction of the courts in the Republic of the Philippines.</li>
        </ul>
        
        <p>Please review these Terms and Conditions carefully. By using MVX's Website and Services, you acknowledge that you have <strong>read, understood, and agreed </strong>to be bound by this Agreement.</p>
        <br>
    
</div>