/*aboutusspecials + general use*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/* header part */
.header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 80px;
    font-family: 'Montserrat', sans-serif;;
    background-color: #5B5247;
    color: white;
    
}

.header_title {
    margin: 0;
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.header span {
    font-weight: 700;
    font-size: 30px;
}

.header_search {
    display: flex;
    align-items: center;
}

.header_search input {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none; 
    outline: none; 
}

.header_search input[type="text"]::placeholder {
    font-size: 12px; 
}

.header_search button {
    font-size: 18px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.header_navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.header_navigation a{
    text-decoration: none;
    margin-left: 30px;
    color: inherit;
}



/* footer part */
.footer {
    background-color: #545454; /* Set the background color */
    color: white; /* Set the text color */
    font-family: sans-serif;
    font-weight: 100;
    padding: 30px 80px;
    font-size: 9.5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.left_footer {
    text-align: left;
    margin-right: auto;
}

.mid_footer {
    align-items: end;
    display: flex;
}

.right_footer {
    text-align: right;
    margin-left: auto;
}

.right_footer a {
    text-decoration: none; 
    color: white; 
}



/*scrollbar-related styling*/
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c9c9; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
}



/* container-related styling */
.container_aboutus{
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

hr {
    width: 70%;
}

img.aboutus {
    width: 200px;
    border-radius: 50%;
}

#imageShowcase {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 25px;
}

#devShowcase {
    white-space: nowrap;
    display: inline-block;
}

#devShowcase p, 
#devShowcase h1, #devShowcase h2, 
#devShowcase h3, #devShowcase h4, 
#devShowcase h5, #devShowcase h6 {
    font-family: 'Tahoma';
    display: flex;
    justify-content: center;
    line-height: 1.25em;
}

.container_aboutus p, 
.container_aboutus h1, .container_aboutus h2, 
.container_aboutus h3, .container_aboutus h4, 
.container_aboutus h5, .container_aboutus h6 {
    font-family: 'Tahoma';
    margin-left: 15%;
    width: 70%;
    text-align: justify;
    line-height: 1.25em;
}



/*homespecials*/
.container_home{
    background-color: #ffffff;
    margin-left: 0px;
    margin-right: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#title {
    margin-left: 15%;
    font-size: 46px;
}

.container_home p, 
.container_home h1, .container_home h2, 
.container_home h3, .container_home h4, 
.container_home h5, .container_home h6,
.container_home ul, .container_home ol {
    font-family: 'Tahoma';
    text-align: justify;
    line-height: 1.25em;
}

.filters {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-self: center;
    padding-bottom: 15px;
}

.filterActual {
    margin-left: auto;
}

.filter {
    border-radius: 25px;
    background-color: #d9d9d9;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    margin-left: auto;

    cursor: pointer;
}

.filter:hover {
    background-color: #c9c9c9;
}

.filter:click {
    background-color: #c4a88c;
}

.filter p {
    margin-left: 0%;
}

#items { 
    overflow-x: scroll;
    width: 70%;
    white-space: nowrap;
    display: block;
    margin: auto;
}

.item {
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
}

.item p{
    margin-left: 0px;
    font-family: 'Tahoma';
    font-size: 13.5px;
} 

.item h2 {
    margin-left: 0px;
    font-family: 'Tahoma';
    line-height: 0px;
}

.updates {
    overflow-x: scroll;
    width: 70%;
    align-self: center;
    white-space: nowrap;
    justify-content: space-between;
}

.update {
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    min-height: 250px;

}

.updateTop {
    display: flex;
    margin-right: 100%;
    max-height: 100px;
}

.updateTop h2 {
    margin-left: 15px;
    font-size: 18px;
}

.updateActual {
    overflow-wrap: normal;
    white-space: normal;
}

.update img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.updateActual p {
    white-space: normal;
}

img.home {
    width: 220px;
    display: flex;
    margin: auto;
}

div.Back-To-Top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    font-family: 'Tahoma';
}

button.BTT{
    border: none;
    background-color: white;
    cursor: pointer;
}

button.home {
    margin-top: 7px;
    border: none;
}

.container_index {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



/*termsandconditionsspecials*/
.container_terms{
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container_terms p, 
.container_terms h1, .container_terms h2, 
.container_terms h3, .container_terms h4, 
.container_terms h5, .container_terms h6,
.container_terms ul, .container_terms ol {
    font-family: 'Tahoma';
    margin-left: 15%;
    width: 70%;
    text-align: justify;
    line-height: 1.25em;
}

.container_terms li {
    font-family: 'Tahoma';
    margin-left: 0px;
    width: 94%;
    text-align: justify;
    line-height: 1.25em;
}



/*sampledataspecials*/
body {

    font-family: 'Tahoma';
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.Main-Container{
    display: flex;
    margin: auto;
    width: 800px;
    font-size: 14px;
    box-sizing: border-box;
}

div.Song-Title{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 800px;
    
}

.push-left {
    margin-left: auto;
}

hr.c1{
    border: 1px solid black;
    width: 800px;
}

h2.scroll {
    margin-left: 5px;
    font-family: 'Tahoma';
    line-height: 0px;
    text-align: 500px;
}

p.title {
    margin-left: 5px; 
    font-family: 'Tahoma';
    font-size: 13.5px;
}

p.deets{
    margin-left: 15px; 
    font-family: 'Tahoma';
    font-size: 11px;
}

button.heart{
    color: gray;
    padding: 0;
    border: none;
    background: none;
    min-height:50px; 
    min-width: 60px;
    cursor: pointer;
}

button.heart:hover{
    padding: 0;
    border: none;
    background: none;
    color: red;
}

button.X{
    background: none;
    color: black;
    border: 1px solid black;
    border-radius:10px; 
    padding:5px;
    min-height:5px; 
    min-width: 25px;
    cursor: pointer;
}

button.X:hover{
    background-color: red;
    color: white;
    outline: 1px solid black;
}

div.Main-content{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 550px;
    font-size: 14px;
    box-sizing: border-box;
}

div.Song-Details{
    display: flex;
    flex-direction: row;
}

div.deets{
    width: 85%;
}

img.send{
    width:120px;
    height:auto;
    padding: 7px;
}

button.send{
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

div.Popular-Tag-Button{
    display: flex;
    flex-direction: row;
}

button.addTags{
    color: black;
    background-color:#C4A88C;
    border-radius: 36px;
    margin-left: auto;
    padding:15px;
    height: 50%;
    border:none;
    cursor: pointer;
    align-self: flex-end;
}

button.tags{
    color: white;
    background-color:#ABABAB;
    border-radius: 36px;
    margin-left: auto;
    padding:15px;
    height: 50%;
    border:none;
    cursor: pointer;
}

div.Rate-Review{
    display: flex;
    flex-direction: row;
}

button.rate-review{
    color: white;
    background-color:#5C4021;
    border-radius: 36px;
    padding:15px;
    height: 50%;
    width: 50%;
    font-size: 25px;
    border:none;
    cursor: pointer;
}

div.Most-Upvoted-Review { 
    display: flex;
    flex-direction: column;
    width: 518px;
    height: 200px;
    background-color:#E6E6E6;
    border-radius: 20px;
    padding: 20px;
}

div.MUR-container{
    display: flex;
    flex-direction: row;
}

.push-center{
    align-self: center;
}

div.Criteria-Rating{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.Criteria-Rating li {
    font-size: 18px;
}

img.user_icon {
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    vertical-align: baseline;
    border: 1px solid #f3f3f3;
    width: 32px;
    height: 32px;
}
.username {
    font-size: inherit;
    font-family: 'Tahoma';
    font-weight: 700;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

div.space {
    display: inline;
    color: #262626;
    margin-left: 4px;
    margin-right: 4px;
    align-self: center;
}

img.scroll {
    width: 240px;
    display: flex;
    margin: auto;
    padding: 5px;
}

div.Reviews-and-Comments{
    display: flex;
    flex-direction: column;
}

div.RC-F{
    display: flex;
    flex-direction: row;
}

button.VM{
    background-color:#C4A88C;
    border-radius: 36px;
    padding:15px;
    height: 50%;
    width: 25%;
    font-size: 16px;
    align-self: center;
    border:none;
    cursor: pointer;
}

div.Lyrics{
    width: 200px;
    height: 0%;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #E6E6E6;
    padding: 10px;
    text-align: justify;
}

#items2 { 
    overflow-x: scroll;
    width: 100%;
    height: 50%;
    white-space: nowrap;
}

.item2 {
    display: inline-block;
    width: 250px;
    height: 325px;
}
.item2 p {
    margin-left: 5px;
}

.item2-tags{
    display: inline-block;
    padding: 5px;
}

.item2-review{
    display: inline-block;
    padding: 5px;
    width: auto;
    padding: 1%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}


/*indexspecials*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
    height: 100vh;
}

.main img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.content {
    position: absolute;
    text-align: center;
    color: white; 
}

.content p {
    margin: 0;
    font-size: 60px;
    font-style: italic;
    margin-bottom: 40px;
}

.join_btn {
    border: none;
    background-color: #ffffff;
    color: #5B5247;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    width: 200px;
    height: 30px;
}



/*loginspecials*/
.container_login {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main_login {
    flex: 1 1 auto;
    display: flex;
}

img.picture{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_main {
    width: 50%;
    padding: 80px;
    text-align: left;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}

.login_txt {
    font-size: 50px;
}

.email_main {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.password_main {
    display: flex;
    flex-direction: column;
}

.register_main {
    display: flex;
  }
  
.register_main p {
    margin-right: 30px;
}
.continue_btn {
    border-radius: 30px;
    background-color: #C4A88C;
    width: 200px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
  
.email_main,
.password_main {
  margin-bottom: 25px;
}

.email_main h3,
.password_main h3 {
  margin-right: 10px;
}

.email_main input,
.password_main input {
  font-size: 14px;
  background-color: #E6E6E6;
  border: none;
  height: 40px;
}

.register_main {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}



/*importexportspecials*/
.container_importexport {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main_importexport {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    flex: 1;
    font-family: sans-serif;
  }

  .main_header {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
  }
  
  .main_header hr {
    border: none;
    border-top: 3px solid #000;
    margin-top: 10px;
  }
  
  .main_body {
    display: flex;
  }
  
  .main_left {
    flex: 0 0 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .main_left .cell {
    display: flex;
    align-items: center;
  }
  
  .main_left .cell img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .main_left .cell p {
    font-size: 28px;
    font-weight: bold;
  }
  
  
  .main_right {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main_right button {
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    background-color: #ababab;
    font-style: italic;
  }
  
  /*for vertical line*/
  .main_left,
  .main_right {
    border-right: 3px solid #ababab;
    padding-right: 20px;
  }
  
  .main_left:last-child,
  .main_right:last-child {
    border-right: none;
  }



/*indexspecials --- why are there 2 indexspecials?*/
.main_index {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    flex: 1;
    font-family: sans-serif;
  }
  
  .main_index_header {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
  }
  
  .main_index_header hr {
    border: none;
    border-top: 3px solid #000;
    margin-top: 10px;
  }
  
  .playlist_container {
    background-color: #ECECEC;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
  .playlist_bar {
    width: 100%;
    max-width: 1000px;
    height: 200px;
    background-color: white;
    overflow-y: scroll;
    padding: 20px;
  }
  
  .playlist_bar p {
    padding: 20px;
    font-size: 10px;
  }
  
  .proceed_button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5B5247;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /*playlist*/
  .playlist_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .playlist_item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .playlist_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .playlist_details h3 {
    margin: 0;
  }
  
  .checkbox_wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .checkbox_wrapper label {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  
  .checkbox_wrapper input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #ccc;
  }
  
  .checkbox_wrapper input:checked + .checkmark {
    background-color: #5B5247;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox_wrapper input:checked + .checkmark:after {
    display: block;
  }
  
  .checkbox_wrapper .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  @media screen and (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
}



